body{
    background-color: #343a40;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}
#divContenedor{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/backgrouund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
#encaBezado{
        width: 100vw;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1a1b1cad;
        margin: 0;
    }
#menuHamburguesa{
    background-color: rgba(240, 248, 255, 0.471);
}
.googleFont{
    font-family: 'Great Vibes', cursive; 
}
.colorAzul{
    color: #0d6efd;
    text-decoration: underline;
}
.colorAmarillo{
    color: #ffc107;
    text-decoration: underline;
}
.colorRojo{
    color: #dc3545;
    text-decoration: underline;
}
@media(max-width:430px){
    #navBar{
        background-color: rgba(0, 0, 0, 0.192);
    }
.hipervinculos{
    color: rgb(255, 255, 255);
}

    #rayaEncabezado{
        display: none;
    }    
}
@media screen and (max-width: 991px) and (min-width: 430px){
    .hipervinculos{
        color: rgb(255, 255, 255);
    }
        #rayaEncabezado{
            display: none;
        } 
}

@media(min-width:991px){
    #navBar{
        font-size: 1.7em;
        font-family: 'Carattere', cursive;
    }
    
    .hipervinculos{
        font-size: 1.2em;
        margin-left: 1vw;
    }
    .hipervinculos:hover{
        text-decoration: underline;
        color:darkkhaki;
    }
    
    #encaBezado:hover{
        cursor: default;
    }
    .ecnabezadoMedida{
        font-size: 5.4vw;
    }
    #rayaEncabezado {
        
    height: 8px;
    background: linear-gradient(60deg, rgba(13,110,253,1) 45%, rgba(255,193,7,1) 50%, rgba(220,53,69,1) 80%);
    width: 50vw;
    margin: 0 auto;
    border-radius: 100px;
  }
}


  
